{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/5218.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <title>DeeStarks University</title>
</head>
<body>
    <div class="front_page" id="front_page">
        <div class="background">
            <div class="navbar">
                <a href="/" id="brand"><div class="brand">
                    <div class="logo">D<span>U</span></div>
                    <div class="brand_text">
                        <div>
                            <div>DEESTARKS</div>
                            <div>UNIVERSITY</div>
                        </div>
                    </div>
                </div></a>
                <div class="nav_items02">
                    <a href="auth" class="out">STUDENT LOG</a>
                </div>
            </div>
        </div>
    </div>
    <div class="registration">
        <div class="login-dark">
            <form method="post">
                <h2 class="sr-only">Login Form</h2>
                <div class="illustration"><i class="fas fa-unlock-alt"></i></div>
                <h4 class="text-center mb-5">ADMIN ONLY</h4>
                <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button>
                </div><a href="#" class="forgot">Forgot your password?</a>
            </form>
        </div>
    </div>
    <script src="{% static 'jq/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
