{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="main_body notification">
    <div class="body_title">NOTIFICATIONS</div>
    <hr>
    <div class="row">
        <div class="col-12 row new my-0">
            <div class="col-md-3 col-sm-12 px-3 font-weight-bold">Today, 14:00</div>
            <div class="col-md-6 col-sm-12 px-3">New Timetable Updated</div>
            <div class="col-md-3 col-sm-12 px-3"><a href="#">Visit page <i class="far fa-arrow-alt-circle-right"></i></a></div>
        </div>
        <div class="col-12 row new my-0">
            <div class="col-md-3 col-sm-12 px-3 font-weight-bold">18/07/2020, 08:00</div>
            <div class="col-md-6 col-sm-12 px-3">First Semester Result Out</div>
            <div class="col-md-3 col-sm-12 px-3"><a href="#">Visit page <i class="far fa-arrow-alt-circle-right"></i></a></div>
        </div>
        <div class="col-12 row my-0">
            <div class="col-md-3 col-sm-12 px-3 font-weight-bold">14/07/2020, 15:00</div>
            <div class="col-md-6 col-sm-12 px-3">New Timetable Updated</div>
            <div class="col-md-3 col-sm-12 px-3"><a href="#">Visit page <i class="far fa-arrow-alt-circle-right"></i></a></div>
        </div>
        <div class="col-12 row my-0">
            <div class="col-md-3 col-sm-12 px-3 font-weight-bold">13/06/2020, 12:00</div>
            <div class="col-md-6 col-sm-12 px-3">Discrete Mathematics for Computer Science available now</div>
            <div class="col-md-3 col-sm-12 px-3"><a href="#">Visit page <i class="far fa-arrow-alt-circle-right"></i></a></div>
        </div>
        <div class="col-12 row my-0">
            <div class="col-md-3 col-sm-12 px-3 font-weight-bold">12/06/2020, 12:00</div>
            <div class="col-md-6 col-sm-12 px-3">The internet in everything available now</div>
            <div class="col-md-3 col-sm-12 px-3"><a href="#">Visit page <i class="far fa-arrow-alt-circle-right"></i></a></div>
        </div>
        <div class="col-12 row my-0">
            <div class="col-md-3 col-sm-12 px-3 font-weight-bold">02/04/2020, 12:00</div>
            <div class="col-md-6 col-sm-12 px-3">The Construction of Mathematics available now</div>
            <div class="col-md-3 col-sm-12 px-3"><a href="#">Visit page <i class="far fa-arrow-alt-circle-right"></i></a></div>
        </div>
        <div class="col-12 row my-0">
            <div class="col-md-3 col-sm-12 px-3 font-weight-bold">11/02/2020, 12:00</div>
            <div class="col-md-6 col-sm-12 px-3">Linear Algebra and Optimization with Application to Machine Learning available now</div>
            <div class="col-md-3 col-sm-12 px-3"><a href="#">Visit page <i class="far fa-arrow-alt-circle-right"></i></a></div>
        </div>
    </div>
</div>

{% endblock %}
