{% extends "base.html" %}
{% load static %}

{% block page_content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
    .success_title{
        font-weight: 800;
        text-transform: uppercase;
    }
    #success_message{
        color: #ffffff;
        font-size: 13px;
        position: fixed;
        width: 300px;
        padding: 10px;
        top: 100px;
        right: -500px;
        z-index: 5;
    }
    .red{
        background-color: #8a0500;
    }
    .green{
        background-color: #178a00;
    }
    #success{
        border-top: 1px solid #ffffff62;
        padding: 10px 20px;
    }
    #close{
        font-size: 15px;
        width: 100%;
        line-height: 20px;
        cursor: pointer;
    }
    .pass_content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pass_block{
        width: 50% !important;
    }
    @media(max-width: 600px){
        .pass_block{
            width: 90% !important;
        }
    }
    .pass_show{
        position: relative
    } 
    .pass_show .ptxt { 
        position: absolute; 
        top: 50%; 
        right: 10px; 
        z-index: 1; 
        color: #0158f8; 
        font-size: 13px !important;
        font-weight: 600 !important;
        margin-top: -10px; 
        cursor: pointer; 
        transition: .3s ease all; 
    } 
    .pass_show .ptxt:hover{
        color: #333333;
    }
    label{
        font-size: 13px;
        font-weight: 800;
    }
    input{
        font-size: 13px !important;
        font-weight: 600 !important;
        padding: 20px 10px !important;
    }
</style>

<div id="success_message" class="row {% if message.color == 'red' %}red{% elif message.color == 'green' %}green{% endif %}">
    <div class="col-12 row">
        <div class="col-10 success_title">
            {{ message.outcome }}
        </div>
        <div class="col-2 text-right" id="close">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <hr>
    <div class="col-12" id="success">{{ message.message }}</div>
</div>

<div class="main_body scoresheet">
    <div class="body_title">Upload Scoresheet</div>
    <hr>
    <div class="text-center my-5" style="font-weight: 600; font-size: 14px;">Please enter your current password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.</div>
    <hr>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="pass_content">
            <div class="pass_block">
                <label>Current Password</label>
                <div class="form-group pass_show"> 
                    <input type="password"  class="form-control" placeholder="Current Password" name="current_password"> 
                </div> 
                    <label>New Password</label>
                <div class="form-group pass_show"> 
                    <input type="password"  class="form-control" placeholder="New Password" name="password01"> 
                </div> 
                    <label>Confirm Password</label>
                <div class="form-group pass_show"> 
                    <input type="password"  class="form-control" placeholder="Confirm Password" name="password02"> 
                </div>
                <div class="d-flex justify-content-center mt-0">
                    <button type="submit" class="btn btn-primary py-2 px-3" style="font-size: 13px !important; font-weight: 700 !important;">Change Password</button> 
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    window.onload = (event) => {
        let success = document.getElementById('success')
        let success_box = document.getElementById('success_message')
        if(success.innerText == ''){
            success_box.style.right = '-500px'
        }else{
            success_box.style.right = '10px'
        }
    };
    document.getElementById('close').onclick = () => {
        document.getElementById('success_message').style.right = '-500px'
    }
      
    $(document).ready(function(){
        $('.pass_show').append('<span class="ptxt">Show</span>');  
    });
    

    $(document).on('click','.pass_show .ptxt', function(){ 
        $(this).text($(this).text() == "Show" ? "Hide" : "Show"); 
        $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 
    });  
</script>
{% endblock %}
