{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style>
    fieldset {
        padding: 30px;
        background-color: #00000020;
        border-top-left-radius: 5px;
        border-bottom-right-radius: 5px;
        margin-top: 30px;
    }

    fieldset legend {
        font-weight: bold;
        font-size: 18px;
        border: 1px solid rgba(0, 0, 0, 0.199);
        background-color: white;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 40px;
        width: 200px;
    }
</style>
<div class="main_body">
    <div class="post">
        <div class="body_title">{{ objects.title }}</div>
        <hr>
        <div class="row">
            <div class="col-md-8 col-sm-12 p-4">
                <img src="{{ objects.thumbnail.url }}" alt="" width="100%" max-height="100px">
                <hr>
                <p class="text text-secondary m-0 p-0 pt-2"><i class="fas fa-pen-fancy" style="font-size: 13px; font-weight: 700;"></i><em class="pl-2" style="font-size: 13px; font-weight: 700;">{{ objects.date }}</em></p>
                <hr>
                <div style="text-align: justify; font-size: 14px; line-height: 25px; color: rgb(19, 19, 19);">{{ objects.post }}</div>
                <br>
                <br>
                <br>
                <fieldset>
                    <legend>COMMENTS(0)</legend>
                    <div>
                        <div><em>Production in progress...</em></div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-4 col-sm-12 p-4 bg-light">
                <div class="pt-2 text-center" id="news_header">
                    <div><strong>OTHER NEWS</strong></div>
                </div>
                <hr>
                <div id="about_newsroom" class="p-4">
                {% for article in all_set %}
                    <div class="row">
                        <div style="width: 100%; font-size: 13px; color: black; font-weight: 700; text-decoration: underline;" class="mb-2">{{ article.title|upper }}</div>
                        <a href="{% url 'post page' article.id article.title.split|join:'-'|lower %}" style="font-size: 13px;">{{ article.post|truncatechars:100 }}</a>
                        <p class="text text-secondary m-0 p-0 pt-2"><i class="fas fa-pen-fancy" style="font-size: 12px;"></i><em class="pl-2" style="font-size: 12px;">{{ article.date }}</em></p>
                    </div>
                    <hr>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}