{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="main_body voucher">
    <div class="body_title">SCHOOL FEES VOUCHERS</div>
    <hr>
    <div class="row">
        <div class="col-12 row">
            <div class="col-md-3 col-sm-12">Today, 15:00</div>
            <div class="col-md-6 col-sm-12">First Semester (200L)</div>
            <div class="col-md-3 col-sm-12"><a href="#">Print Voucher <i class="fas fa-print"></i></a></div>
        </div>
        <div class="col-12 row">
            <div class="col-md-3 col-sm-12">12/02/2020</div>
            <div class="col-md-6 col-sm-12">2nd Semester (100L)</div>
            <div class="col-md-3 col-sm-12"><a href="#">Print Voucher <i class="fas fa-print"></i></a></div>
        </div>
        <div class="col-12 row">
            <div class="col-md-3 col-sm-12">10/10/2019</div>
            <div class="col-md-6 col-sm-12">First Semester (100L)</div>
            <div class="col-md-3 col-sm-12"><a href="#">Print Voucher <i class="fas fa-print"></i></a></div>
        </div>
    </div>
</div>

{% endblock %}
