{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="main_body notification">
    <div class="body_title">NOTIFICATIONS</div>
    <hr>
    <div class="row">
        <div class="col-12 row new">
            <div class="col-md-3 col-sm-12">Today, 14:00</div>
            <div class="col-md-6 col-sm-12">Second Semester Scoresheet upload deadline - 23/06/2020</div>
            <div class="col-md-3 col-sm-12"><a href="#">Visit page <i class="far fa-arrow-alt-circle-right"></i></a></div>
        </div>
        <div class="col-12 row">
            <div class="col-md-3 col-sm-12">14/07/2020, 15:00</div>
            <div class="col-md-6 col-sm-12">New Course Allocated</div>
            <div class="col-md-3 col-sm-12"><a href="#">Confirm <i class="far fa-arrow-alt-circle-right"></i></a></div>
        </div>
    </div>
</div>
{% endblock %}
