{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style>
    .fileuploader{
        background-color: #00205aee;
    }

    .fileuploader .cloud_icon{
        color: #00205aee;
    }
</style>
<div class="main_body upload_page">
    <div class="body_title">Upload Scoresheet</div>
    <hr>
    <div style="margin: 0 0 30px 0; width: 100%; text-align: center; font-style: italic; font-size: 13px; font-weight: 700;">Don't have the latest {{ course_code }} scoresheet template?<a href="{% url 'scoresheet download' course_code %}"> Download</a></div>
    <div class="upload">
        <div class="fileuploader ">
            <div id="upload-label">
                <i class="fas fa-cloud-upload-alt cloud_icon"></i>
                <br>
                <form action="">
                    <input type="file" name="upload" id="upload">
                    <label for="upload" id="click_upload">Click to upload file.</label>
                    <div class="file_display">
                        <i class="far fa-file-alt"></i>
                        <br>
                        <div></div>
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
