{% extends "base.html" %}
{% load static %}


{% block page_content %}
<style>
    .success_title{
        font-weight: 800;
        text-transform: uppercase;
    }
    #success_message{
        color: #ffffff;
        font-size: 13px;
        position: fixed;
        width: 300px;
        padding: 10px;
        top: 100px;
        right: -500px;
        z-index: 5;
    }
    .red{
        background-color: #8a0500;
    }
    .green{
        background-color: #178a00;
    }
    #success{
        border-top: 1px solid #ffffff62;
        padding: 10px 20px;
    }
    #close{
        font-size: 15px;
        width: 100%;
        line-height: 20px;
        cursor: pointer;
    }
    form{
        background-color: #00205a;
        padding: 20px;
        border-radius: 10px;
    }
    input {
        background:none;
        border:none;
        font-size: 13px;
        border-bottom:2px solid #ffffff7c;
        border-radius:0;
        box-shadow:none;
        outline:none;
        color:white;
        line-height: 20px;
        width: 100%;
    }
    label{
        color: white;
        font-size: 13px;
    }
    select{
        padding: 10px 20px;
        border: none;
        outline: none;
        border-bottom: 2px solid #ffffff88;
        background-color: transparent;
        color: white;
        font-size: 13px;
        cursor: pointer;
    }
    @media(max-width: 500px){
        select{
            width: 100%;
        }
    }
    select option{
        color: black;
    }
    button{
        color: white;
        background-color: #00205a;
        border: 2px solid #ffffff88;
        outline: none;
        padding: 10px 30px;
        font-size: 13px;
        font-weight: 600;
        transition: 200ms;
    }
    button:hover{
        background-color: white;
        color: #00205a;
    }
</style>
<div id="success_message" class="row {% if info_object.color == 'red' %}red{% elif info_object.color == 'green' %}green{% endif %}">
    <div class="col-12 row">
        <div class="col-10 success_title">
            {{ info_object.success }}
        </div>
        <div class="col-2 text-right" id="close">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <hr>
    <div class="col-12" id="success">{{ info_object.message }}</div>
</div>
<div class="main_body">
    <div class="body_title">ADD NEW COURSE</div>
    <hr>
    <div>
        <form action="" method="POST" class="row">
            {% csrf_token %}
            <br>
            <hr>
            <br>
            <div class="row p-4">
                <div class="col-md-6 col-sm-12 row p-3">
                    <div class="col-md-4 col-sm-12">
                        <label for="code">Course Code:</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="text" name="code" id="code" required>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 row p-3">
                    <div class="col-md-4 col-sm-12">
                        <label for="title">Course Title:</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="text" name="title" id="title" required>
                    </div>
                </div>
                <hr>
                <div class="col-md-6 col-sm-12 row p-3">
                    <div class="col-md-4 col-sm-12">
                        <label for="unit">Course Unit:</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="number" name="unit" id="unit" required>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 row p-3">
                    <div class="col-md-4 col-sm-12">
                        <label for="group">Group:</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select name="group" id="group" required>
                            <option selected="selected" disabled>---</option>
                            <option value="CORE">Core</option>
                            <option value="ELECTIVE">Elective</option>
                            <option value="GENERAL STUDIES">General Studies</option>
                        </select>
                    </div>
                </div>

                <div style="width: 100%; border: .2px solid #ffffff10; margin: 15px 0;"></div>

                <div style="font-style: italic; font-weight: 600; font-size: 13px; color: rgb(255, 37, 13);">If you selected course group above to be core, select department below to which it is core.</div>

                <div class="col-md-6 col-sm-12 row p-3 mb-5">
                    <div class="col-md-4 col-sm-12">
                         <label for="department">Department:</label> 
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select name="department" id="department">
                            <option disabled selected>---</option>
                            <option disabled><strong>--------FACULTY OF SCIENCE--------</strong></option>
                            <option value="BIOCHEMISTRY">Biochemistry</option>
                            <option value="BOTANY">Botany</option>
                            <option value="CHEMISTRY">Chemistry</option>
                            <option value="COMPUTER_SCIENCE">Computer Science</option>
                            <option value="GEOSCIENCE">Geoscience</option>
                            <option value="MATHEMATICS">Mathematics</option>
                            <option value="MARINE_SCIENCE">Marine Science</option>
                            <option value="MICROBIOLOGY">Microbiology</option>
                            <option value="ZOOLOGY">Zoology</option>
                            <option value="PHYSICS">Physics</option>
                            <div style="width: 100%; border: 0.2px solid #ffffff10; margin: 15px 0;"></div>
                            <option disabled><strong>--------FACULTY OF ART--------</strong></option>
                            <option value="CREATIVE_ART">Creative Art</option>
                            <option value="ENGLISH">English</option>
                            <option value="EUROPEAN_LANGUAGE">European Languages & Integration Studies</option>
                            <option value="HISTORY">History & Strategic Studies</option>
                            <option value="LINGUISTICS">Linguistics African Asian Studies</option>
                            <option value="PHILOSOPHY">Philosophy</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <button type="submit">Add</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    window.onload = (event) => {
        let success = document.getElementById('success')
        let success_box = document.getElementById('success_message')
        if(success.innerText == ''){
            success_box.style.right = '-500px'
        }else{
            success_box.style.right = '10px'
        }
    };
    document.getElementById('close').onclick = () => {
        document.getElementById('success_message').style.right = '-500px'
    }
</script>
{% endblock %}
