<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../images/5218.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../fontawesome/css/all.min.css">
    <title>DeeStarks University | ADMIN</title>
</head>
<body>
    <div class="front_page" id="front_page">
        <div class="background">
            <div class="navbar">
                <a href="index.html" id="brand"><div class="brand">
                    <div class="logo">D<span>U</span></div>
                    <div class="brand_text">
                        <div>
                            <div>DEESTARKS</div>
                            <div>UNIVERSITY</div>
                        </div>
                    </div>
                </div></a>
                <div class="nav_items">
                    <a href="#" class="out">LOG OUT</a>
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div class="sidebar">
                <div class="side_in">
                    <div class="side_profile">
                        <i class="fas fa-times"></i>
                        <a href="profile.html"><div class="dp d-flex align-items-center justify-content-center"><img src="../images/default-user.png" alt="" width="100%"></div>
                        <div class="name profile-name">USER NAME</div></a>
                    </div>
                    <div class="sidenav_link">
                        <div>
                            <a href="profile.html" class="active"><i class="fas fa-user"></i>Profile</a>
                            <a href="index.html"><i class="fas fa-columns"></i>Dashboard</a>
                            <a href="update-news.html"><i class="fas fa-newspaper"></i>Update Newsfeed</a>
                            <a href="student.html"><i class="fas fa-users-cog"></i>Students</a>
                            <a href="staff.html"><i class="fas fa-users-cog"></i>Staff</a>
                            <a href="courses.html"><i class="fas fa-book"></i>Courses </a>
                            <a href="course-allocate.html"><i class="fas fa-user-tag"></i>Course Allocation</a>
                            <a href="allocated-list.html"><i class="fas fa-clipboard-list"></i>Allocation List</a>
                            <a href="update-timetable.html"><i class="fas fa-table"></i>Update Timetable</a>
                            <a href="update-library.html"><i class="fas fa-book"></i>Update Students Library</a>
                            <a href="mastersheet.html"><i class="fas fa-file-alt"></i>Result Mastersheet</a>
                            <a href="semester.html"><i class="fas fa-cogs"></i>Semester Settings</a>
                            <a href="session.html"><i class="fas fa-cogs"></i>Session Settings</a>
                            <a href="#" class="side_link02"><i class="fas fa-power-off"></i>Log Out</a>
                        </div>
                    </div>
                    <div class="account">
                        <a href="https://www.facebook.com/OnojaDaniel246/" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/daniel-onoja-044a611b3/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=2349036471865" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        <a href="https://twitter.com/OnojaDaniel20" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/deestarks.py/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="mailto: danielonoja246@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                        <a href="https://github.com/DeeStarks" target="_blank"><i class="fab fa-github"></i></a>
                        <div class="acct_title">Development by Onoja Daniel</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="open_side">
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="side_nav">
            <div class="side_in">
                <div class="side_profile">
                    <i class="fas fa-chevron-left"></i>
                    <a href="profile.html"><div class="dp d-flex align-items-center justify-content-center"><img src="../images/default-user.png" alt="" width="100%"></div>
                    <div class="name profile-name">USER NAME</div></a>
                </div>
                <div class="sidenav_link">
                    <div>
                        <a href="profile.html" class="active"><i class="fas fa-user"></i>Profile</a>
                        <a href="index.html"><i class="fas fa-columns"></i>Dashboard</a>
                        <a href="update-news.html"><i class="fas fa-newspaper"></i>Update Newsfeed</a>
                        <a href="student.html"><i class="fas fa-users-cog"></i>Students</a>
                        <a href="staff.html"><i class="fas fa-users-cog"></i>Staff</a>
                        <a href="courses.html"><i class="fas fa-book"></i>Courses </a>
                        <a href="course-allocate.html"><i class="fas fa-user-tag"></i>Course Allocation</a>
                        <a href="allocated-list.html"><i class="fas fa-clipboard-list"></i>Allocation List</a>
                        <a href="update-timetable.html"><i class="fas fa-table"></i>Update Timetable</a>
                        <a href="update-library.html"><i class="fas fa-book"></i>Update Students Library</a>
                        <a href="mastersheet.html"><i class="fas fa-file-alt"></i>Result Mastersheet</a>
                        <a href="semester.html"><i class="fas fa-cogs"></i>Semester Settings</a>
                        <a href="session.html"><i class="fas fa-cogs"></i>Session Settings</a>
                    </div>
                </div>
                <div class="account">
                    <a href="https://www.facebook.com/OnojaDaniel246/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/daniel-onoja-044a611b3/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=2349036471865" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://twitter.com/OnojaDaniel20" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/deestarks.py/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="mailto: danielonoja246@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                    <a href="https://github.com/DeeStarks" target="_blank"><i class="fab fa-github"></i></a>
                    <div class="acct_title">Development by Onoja Daniel</div>
                </div>
            </div>
        </div>
        <div class="main_body">
            <div class="body_title">YOUR PROFILE</div>
            <hr>
            <div class="profile">
                <div class="container">
                    <div class="row gutters-sm">
                        <div class="col-lg-4 mb-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex flex-column align-items-center text-center">
                                        <div class="img_upload"></div>
                                        <label class="custom-file">
                                            <input type="file" id="avatar-upload" class="custom-file-input">
                                            <div class="img-upload-btn">
                                                <span class="custom-file-control upload_profile"><i class="fas fa-user pr-2"> Change Avatar</i></span>
                                            </div>
                                        </label>
                                        <br>
                                        <div class="mt-5">
                                            <h4 class="text-uppercase profile-name">user name</h4>
                                        </div>
                                        <br>
                                        <div class="profile-below p__t">Role: <span>Admin</span></div>
                                        <div class="profile-below">Status: <span>Active</span></div>
                                        <div class="profile-below">Registered: <span>1 month(s), 5 day(s) ago</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="card mb-3">
                                <div class="card-body">
                                    <div class="row pr_tl">
                                        <div class="col-sm-6 text-secondary">
                                        <i class="fas fa-graduation-cap"></i> 2020/2021 Session
                                        </div>
                                        <div class="col-sm-6 text-secondary">
                                        Second Semester <i class="fas fa-cogs"></i>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Full Name</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary text-uppercase">
                                        User Name
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Email</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                        username@mail.com
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Phone</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                        (+234) 810 9000 000
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Address</h6>
                                        </div>
                                        <div class="col-sm-9 text-secondary">
                                        Lagos, Nigeria
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../jq/jquery-3.5.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>
